@import "tailwindcss";

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #08080c;
}

::-webkit-scrollbar-thumb {
  background: #3b0764;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e22ce;
}
